*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman';
    color: black;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}

p {
    text-align: justify;
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
}

.footer {
    background: rgb(90, 89, 89);
    padding: 1.2em;
    text-align: center;
}

.header {
    background: #fa4454;
    color: white;

    width:100%;
    height: 6.8em;

    /*border: black 0.15em solid;*/
}

.header a {
    color : white;
    text-decoration: none;
}

.logo {
    width: 21%;
    height: 6.8em;
    /*background: #0bdd0b;*/
    float: left;
    
}

.logo p {
    text-align: center;
}

.logo img {
    width: 30%;
    height: 7em;
}

.contenido_cabecera {
    width:79%;
    /*background: #0bacdd;*/
    height: 6.8em;
    float: left;
}

.titulo {
    width: 100%;
    height: 50%;
    padding-top: 1em;
    /*background: #ec10ec;*/
    text-align:left;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.menu {
    text-align: left;
    padding-top: 1.2em;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a {
    
    transition: all 0.4s linear;
    border-radius: 1em;
    text-transform: uppercase;
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul li a:hover{
    background: rgb(77, 76, 76);
}



.cuerpo {
    /*background-color: blueviolet;*/
    
    width: 100%;
    height: 40em;
}

.auxiliar{

    
    background: #fa4454;
    width: 20%;
    height: 38em;
    padding-top: 1em;

    border: black 0.5em double;
    text-align: center;
    float: left;
    
}

.auxiliar a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auxiliar li {
    margin-top: 1.5em;
}

.auxiliar ul li a {
    
    transition: all 0.3s linear;
    border-radius: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    letter-spacing: 0.2em;

}

.auxiliar ul li a:hover{
    background: rgb(77, 76, 76);
}

.Acto2_img {

    border: black 0.2em solid;
    width: 60%;
    height: 7em;

}

.torneo_img {

    border: black 0.2em solid;
    width: 60%;
    height: 7em;
}

.ranking_img {

    border: black 0.2em solid;
    width: 60%;
    height: 7em;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: fit-content;
  margin: 1em auto;
  padding: 0.1em;
  border: black 0.15em dashed;
}

.contenedor_eventos {
    
    width: 75%;
    height: 39em;
    background-color: rgb(253, 253, 253);
    float: left;
    padding-top: 1em;
    
}

.fila_eventos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 1em;
    padding-top: 0.2em;
    text-align: center;
    
   
}

.evento {
    padding-top: 0.5em;
}

.fila_eventos a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fila_eventos p {
    text-align: center;
}

.evento_img{
    padding-top: 10px;
    width: 70%;
    height: 9em;
    
}


